@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800;900&display=swap');

html {
    scrollbar-face-color: #525252;
    scrollbar-base-color: #ffffff00;
    scrollbar-3dlight-color: #ffffff00;
    scrollbar-highlight-color: #ffffff00;
    scrollbar-track-color: #ffffff00;
    scrollbar-arrow-color: #ffffff00;
    scrollbar-shadow-color: #ffffff00;
}

::-webkit-scrollbar {
    width: .4em;
}

::-webkit-scrollbar-button {
    height: .5rem;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

::-webkit-scrollbar-track-piece {
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    height: auto;
    background-color: #8b8b8b;
    border-radius: 2rem;
}

::-webkit-scrollbar-corner {
    background-color: #FFFFFF;
}

::-webkit-resizer {
    background-color: #FFFFFF;
}

@keyframes slideInTop {
    0% {
        transform: translateY(0);
    }

    1% {
        transform: translateY(-200vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(0);
    }

    1% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(0);
    }

    1% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeftLong {
    0% {
        transform: translateX(0);
    }

    1% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeftLongest {
    0% {
        transform: translateX(0);
    }

    1% {
        transform: translateX(-200vw);
    }

    100% {
        transform: translateX(0);
    }
}

::selection {
    background-color: #7413DC;
    color: #FFFFFF;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #7413DC;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h4, h5, h6 {
    color: #505050;
    font-weight: 900;
    margin-bottom: .5em;
    margin-top: .5em;
}

p {
    margin-block-start: .7em;
    margin-block-end: .7em;
}

a {
    color: #FFFFFF;
    transition: .3s;
}

main a {
    color: #000000;
    transition: .3s;
    font-weight: 900;
    text-decoration: none;
}

a:hover {
    color: #b4b4b4;
}

main a:hover {
    color: #747272;
}

img {
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-space {
    height: 13em;
    width: 100%;
}

.topnav {
    overflow: hidden;
    position: fixed;
    height: fit-content;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #7413DC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: .5s ease-out slideInTop;
}

.topnav .icon {
    display: none;
    padding-right: 1em;
}

.topnav .icon svg {
    width: 2rem;
    color: #FFFFFF;
}

.topnav .links {
    margin-right: 2em;
    min-width: 6em;
}

.topnav img {
    margin-top: .5em;
    height: 3rem;
    padding-right: 5vw;
}

.topnav a {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-top: .5em;
    margin-left: 1em;
}

.content {
    background-color: #FFFFFF;
    width: inherit;
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1em;
    margin-bottom: 0;
    animation: 1s ease-out slideInLeft;
}

.title-text {
    top: -1em;
    color: #FFFFFF;
    font-size: 4em;
    position: absolute;
    animation: 1s ease-out slideInLeft;
}

.subtitle-text {
    color: #7413DC;
    font-size: 3em;
    margin-bottom: -.15em;
    margin-top: 0;
    animation: 1s ease-out slideInLeftLong;
}

.sub-subtitle-text {
    margin-top: -1em;
    margin-bottom: 2em;
    padding-left: .3em;
    padding-right: .3em;
    font-size: 1.3em;
    margin-left: .139em;
    background-color: #7413DC;
    color: #FFFFFF;
    display: inline-block;
    animation: 1s ease-out slideInLeftLongest;
}

main {
    margin-top: -1.5em;
    margin-bottom: -1em;
    min-height: 50vh;
}

strong {
    padding-left: .2em;
    padding-right: .2em;
    background-color: #7413DC;
    font-weight: normal;
    color: #FFFFFF;
    display: inline-block;
}

small {
    padding-left: .2em;
    padding-right: .2em;
    background-color: #7413DC;
    font-weight: normal;
    color: #FFFFFF;
    display: inline-block;
}

small a {
    color: #FFFFFF;
}

small a:hover {
    color: #8b8b8b;
}

.scouts {
    background-color: #7413dc;
}

ul {
    list-style-type: square;
    margin-block-start: .7em;
    margin-block-end: .7em;
}

li::marker {
    font-size: 1.4em;
    color: #7413DC;
}

.flex-fixer {
    width: 77.5vw;
}

.person h4 {
    font-size: 3em;
    color: #000000;
}

.person h4, .person h5 {
    margin: 0;
}

.name {
    vertical-align: middle;
    margin-bottom: .5em;
}

button {
    color: #FFFFFF;
    background-color: #7413dc;
    padding: .75rem 1.5rem;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    font: inherit;
    transition: .5s;
    border-radius: .4rem;
}

button:hover {
    background-color: #00a794;
    cursor: pointer;
}

.more {
    margin-left: 1em;
    background-color: #d9d9d9;
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

.form {
    margin-left: 1em;
    background-color: #d9d9d9;
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    width: 90%;
}

.form input, .form textarea, .form select {
    width: 70%;
    font: inherit;
    border: 2px solid #000000;
}

::-webkit-file-upload-button {
    color: #FFFFFF;
    background-color: #7413dc;
    padding: .75rem 1.5rem;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    font: inherit;
    transition: .5s;
    border-radius: .4rem;
}

::-webkit-file-upload-button:hover {
    background-color: #00a794;
    cursor: pointer;
}

.bottomnav {
    height: fit-content;
    top: 0;
    padding: 1em;
    background-color: #7413dc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: 1s ease-out slideInBottom;
}

.bottomnav img {
    display: block;
}

.bottomnav .last {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.bottomnav .first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.bottomnav .links-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.bottomnav .first .img-slogans {
    margin-top: .2em;
    display: flex;
    align-items: center;
}

.bottomnav .first .img-slogans p {
    font-weight: 900;
    margin-bottom: .5em;
    margin-top: .5em;
    color: #FFFFFF;
    display: block;
    font-size: 0.83em;
    margin-left: 1em;
}

.bottomnav .first img {
    margin-bottom: .2em;
    height: 2.5rem;
}

.bottomnav .last .imgs {
    display: flex;
    align-items: center;
}

.bottomnav .last .section {
    margin-right: 1em;
    height: 1.1rem;
}

.bottomnav .last .CEOP {
    height: 2.1rem;
}

.bottomnav p {
    margin-top: 0;
    color: #FFFFFF;
    font-size: .5em;
}

.bottomnav p a {
    transition: .3s;
    font-weight: 900;
    text-decoration: none;
}

.bottomnav .links a {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-top: .2em;
    margin-left: 1em;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 0.83em;
    margin-left: 1em;
    transition: .3s;
}

.bottomnav .links a:hover {
    color: #b4b4b4;
}

.hidden {
    display: none;
}

.values {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    justify-content: space-around;
    height: 10em;
    flex-shrink: 1;
}

.values-sections {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    justify-content: space-around;
    height: 10em;
    line-height: 8em;
    flex-shrink: 1;
}

.value {
    background: #00a794;
    margin: 1em;
    color: #000000;
    font-weight: 900;
    text-align: center;
    flex: 1 0 0px;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.values-sections .value {
    margin: 1em;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
    flex: 1 0 0px;
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transition: .5s;
}

.values-sections p {
    line-height: 0;
}

.value img {
    width: 8em;
    height: auto;
    display: block;
    margin: auto;
}

.values-sections img {
    height: 50rem;
}


.red {
    background-color: #e22e12;
}

.blue {
    background-color: #006ddf;
}

.green {
    background-color: #23a950;
}

.teal {
    background-color: #053b45;
}

.navy {
    background-color: #003982;
}

.network {
    height: 20em;
}

.values-sections .value:hover {
    background: #00a794;
}

.grid {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

.grid-item {
    width: 50%;
    margin-right: 2em;
}

iframe {
    border: 0;
}

iframe .cal {
    width: 100%;
    height: 950px;
}

@media (max-width: 1270px) {
    .person {
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-content: center;
        align-items: stretch;
    }

    .name {
        width: 100%;
        vertical-align: top;
        margin: 0;
    }
}

@media (max-width: 1300px) {
    html {
        font-size: 80%;
    }

    .values {
        -webkit-flex-flow: column;
        flex-flow: column;
        flex-direction: column;
        height: auto;
    }

    .value {
        line-height: 8em;
    }

    .values img {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .values-sections {
        -webkit-flex-flow: column;
        flex-flow: column;
        flex-direction: column;
        height: auto;
    }

    .values-sections .value {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .grid {
        -webkit-flex-flow: column;
        flex-flow: column;
        flex-direction: column;
        height: auto;
    }

    .grid-item {
        width: auto;
        margin-right: 0;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
        max-width: 99%;
    }

    .topnav a {
        display: none;
    }

    .topnav .links {
        margin: 0;
    }

    .topnav .icon {
        display: block;
    }

    .topnav.responsive a {
        display: block;
    }

    .bottomnav {
        flex-direction: column;
    }

    .bottomnav .last {
        align-items: flex-start;
    }

    .bottomnav p a:first-of-type {
        margin-left: 0;
    }

    .bottomnav p {
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    .bottomnav p {
        margin-bottom: 48px;
    }

    .bottomnav p a {
        padding-bottom: 48px;
    }

    .bottomnav .links a {
        padding-bottom: 48px;
    }
}

@media (max-width: 860px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 650px) {
    html {
        font-size: 60%;
    }

    .title-text {
        font-size: 3.5em;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 50%;
    }

    .title-text {
        font-size: 3.2em;
    }
}

@media (max-width: 400px) {
    .title-text {
        font-size: 3.2em;
    }
}